/* this removes the auto added padding and margin issues by the browser. "*" is considered a universal selector that makes changes to everything. */
* {
    margin: 0;
    padding: 0;
}


body {
    /* both attributes are applied because to the <body> element because the body is the parent to all other HTML content elements
    giving us control over all of them by applying a style to the parent ( <body> ) */
    color: #39a6b2;
   
    /* font-family displays the font value in preferrential order. The other two options are in case the computer displaying
    page does not have the first choice installed. In that case they can fall back on the other options. */
    font-family: Arial, Helvetica, sans-serif;
   

}
/* targetting the <header> elemental to apply styles */
    header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

header h1 {
    font-weight:bold;
    font-size:36px;
    color:#fce138;
    margin: 0;
    display: inline;
}